body {
  margin: 0;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  min-width: 400px;
  border-radius: 24px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #3a7bd5;
  border-radius: 24px;
  margin-bottom: 8px;
}

button {
  background: #5f9341;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 24px;
  font-weight: bold;
  cursor: pointer;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#new-btn {
  background: white;
  color: #3a7bd5;
  border: 1px solid #3a7bd5;
}

#delete-img {
  height: 20px;
}
#copy-img {
  height: 20px;
  margin-right: 30px;
}
#remove-el {
  height: 14px;
  cursor: pointer;
  margin-left: 20px;
}

#heading-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #3a7bd5;
}
